.bg-image {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: cover;
    height: 100vh;
}

.bg-image2 {
    background: rgb(233, 240, 14);
    background: radial-gradient(circle, rgba(233, 240, 14, 1) 0%, rgba(231, 233, 148, 1) 100%);
    background-size: cover
}

.mt {
    margin-top: 10%;
}

.card {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 3rem;
    justify-self: center;
}

img {
    margin-left: 2.5rem;
}


.line {
    border-bottom: 1rem;
    border-bottom-style: solid;
}

card deck {
    margin-bottom: -1rem;
}